.App {
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  text-align: center;
}

.App-console {
  max-width: 350px;
  margin: auto;
}

.App-var_name_input {
  border: 0;
  padding: 4px;
  background: inherit;
  color: inherit;
  font: inherit;
  width: inherit;
}

.App-formula_input {
  border: 0;
  border-radius: 10px;
  padding: 4px;
  background: #4B5059;
  color: inherit;
  font: inherit;
}
